@model IEnumerable<HoneyBadgers.Entity.Models.Movie>

@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Manage" asp-action="Index">Manage</a></li>
            <li class="breadcrumb-item active" aria-current="page">Movies</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">
            <h1>Movies List</h1>
        </div>
        <div class="col text-end">
            @* <a class="hb-btn btn" role="button" asp-action="CreateMovie"><i style="margin-right: 4px;" class="fas fa-plus"></i>Create New</a> *@
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                @* <th></th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    @* <td> *@
                    @*     @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) | *@
                    @*     @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */}) *@
                    @* </td> *@
                </tr>
            }
        </tbody>
    </table>
</div>


