@using HoneyBadgers.Entity.Models
@using Microsoft.AspNetCore.Identity
@model HoneyBadgers.Logic.Models.DetailMovieViewModel
@inject SignInManager<ApplicationUser> SignInManager

<div class="hb-details-movie__header">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-auto">
                <img height="300" src="@Model.Poster" alt="@Model.Title" />
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <span class="hb-details-movie__header-type">Movie</span>
                        <h2>@Model.Title</h2>
                        <div class="row" style="padding-left: 15px;">
                            <div class="col-md-auto text-center px-2">@Model.Year</div>
                            <div class="col-md-auto px-1" style="color: #2ba837; font-size: 8px; align-self: center;"><i class="fas fa-circle"></i></div>
                            <div class="col-md-auto text-center px-2">@Model.Runtime</div>
                            <div class="col-md-auto px-1" style="color: #2ba837; font-size: 8px; align-self: center;"><i class="fas fa-circle"></i></div>
                            <div class="col-md-auto text-center px-2">@Model.Language</div>
                            <div class="col-md-auto px-1" style="color: #2ba837; font-size: 8px; align-self: center;"><i class="fas fa-circle"></i></div>
                            <div class="col-md-auto text-center px-2">@Model.Country</div>
                        </div>
                        <div class="d-flex flex-row my-3">
                            @foreach (var genre in Model.Genre)
                            {
                                @*<a class="hb-btn-rounded btn mx-1" asp-controller="Genre" asp-action="List" asp-route-id="@genre.Id">
                                    @genre.Name
                                </a>*@
                                <a class="hb-btn-rounded btn mx-1" href="">
                                    @genre.Name
                                </a>
                            }
                        </div>
                        <div class="hb-details-movie__info">
                            <div class="row">
                                <div class="col-sm-2 text-lowercase">
                                    <label asp-for="Director"></label>
                                </div>
                                <div class="col">
                                    @Model.Director
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 text-lowercase">
                                    <label asp-for="Writer"></label>
                                </div>
                                <div class="col">
                                    @Model.Writer
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 text-lowercase">
                                    <label asp-for="Actors"></label>
                                </div>
                                <div class="col">
                                    @Model.Actors
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <div class="text-center mb-4" style="margin-top: 25px;">
                            <div>IMDb Rating</div>
                            <div style="font-size: 25px;"><i style="color: #f6ca2a;" class="fas fa-star mr-2"></i>@Model.ImdbRating</div>
                        </div>
                        <div class="text-center mb-4">
                            <div>Watched</div>
                            <div style="font-size: 25px;"><i style="color: #2ba837;" class="fas fa-chalkboard-teacher mr-2"></i>@Model.ViewsNumber</div>
                        </div>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="text-center mb-4">
                                <div>Favorited</div>
                                <div style="font-size: 25px;">
                                    @if (Model.IsFavorite)
                                    {
                                        <a class="hb-movie__btn-details btn" asp-action="RemoveFavoriteInDetail" asp-route-id="@Model.Id">
                                            <i class="fas fa-heart" style="color: #2ba837; font-size: 35px;"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="hb-movie__btn-details btn" asp-action="AddFavoriteInDetail" asp-route-id="@Model.Id">
                                            <i class="far fa-heart" style="color: #2ba837; font-size: 35px;"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
