@model HoneyBadgers.Logic.Dto.MovieDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr/>
    <div class="row">
        <div class="col-4">
            <img src="@Model.Poster" />
        </div>
        <div class="col-4">
            <dl class="row">
                <dt class="col-sm-4">
                    <label asp-for="Title"></label>
                </dt>
                <dd class="col-sm-8">
                    @Model.Title
                </dd>
                <dt class="col-sm-4">
                    <label asp-for="Year"></label>
                </dt>
                <dd class="col-sm-8">
                    @Model.Year
                </dd>
                <dt class="col-sm-4">
                    <label asp-for="Director"></label>
                </dt>
                <dd class="col-sm-8">
                    @Model.Director
                </dd>
                <dt class="col-sm-4">
                    <label asp-for="Writer"></label>
                </dt>
                <dd class="col-sm-8">
                    @Model.Writer
                </dd>
                <dt class="col-sm-4">
                    <label asp-for="Actors"></label>
                </dt>
                <dd class="col-sm-8">
                    @Model.Actors
                </dd>
                <dt class="col-sm-4">
                    <label asp-for="Plot"></label>
                </dt>
                <dd class="col-sm-8">
                    @Model.Plot
                </dd>
                <dt class="col-sm-4">
                    <label asp-for="Genre"></label>
                </dt>
                <dd class="col-sm-8">
                    @Model.Genre
                </dd>
                <dt class="col-sm-4">
                    <label asp-for="Country"></label>
                </dt>
                <dd class="col-sm-8">
                    @Model.Country
                </dd>
                <dt class="col-sm-4">
                    <label asp-for="ImdbRating"></label>
                </dt>
                <dd class="col-sm-8">
                    @Model.ImdbRating
                </dd>
                <dt class="col-sm-4">
                    <label asp-for="ViewsNumber"></label>
                </dt>
                <dd class="col-sm-8">
                    @Model.ViewsNumber
                </dd>
                <dd>
                    <div class="col-sm-2">
                        @if (Model.IsFavorite)
                        {
                                <a class="hb-movie__btn-details btn" asp-action="RemoveFavoriteInDetail" asp-route-id="@Model.Id">
                                    <i class="fas fa-heart"></i>
                                </a>
                        }
                        else
                        {
                                <a class="hb-movie__btn-details btn" asp-action="AddFavoriteInDetail" asp-route-id="@Model.Id">
                                    <i class="far fa-heart"></i>
                                </a>
                        }
                    </div>
                </dd>
                <dt class="col-sm-8">
                    @if (@Model.IsFavorite)
                    {
                        <p>This movie is currently favorite on your movies list! </p>
                    }
                </dt>

            </dl>
        </div>
    </div>
    
    
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
